{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Préstamo{% endblock %}

{% block css %}
<!-- Aquí puedes agregar estilos extra si es necesario -->
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white text-center">
                    <h4 class="mb-0">Editar Préstamo para {{ prestamo.reservacion.usuario.first_name }} {{ prestamo.reservacion.usuario.last_name }}</h4>
                    <h4 class="mb-0">Libro: {{ prestamo.reservacion.libro.titulo }}</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <!-- Botones -->
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-success">
                                Guardar Cambios
                            </button>
                            <a href="{% url 'Reservacion:prestamo_detail' prestamo.pk %}" class="btn btn-secondary ms-3">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr('.fecha-picker', {
                dateFormat: 'Y-m-d',  // Formato de fecha estándar
                allowInput: true,  // Permitimos la entrada, pero también se selecciona desde el calendario
                locale: 'es',  // Ajuste de localización a español
                defaultDate: function (e) {
                    // Esto se asegura de cargar la fecha inicial desde el campo
                    return e.value ? e.value : ""; // Si tiene un valor ya asignado, la carga
                }
            });
        });
    </script>


{% endblock %}
