{% extends 'base.html' %}
{% load static %}
{% block title %} Eliminar Libro {% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-3">¿Estás seguro de que deseas eliminar este Libro?</h1>
        <p>El titulo del libro es: <strong>{{ object.titulo }}</strong></p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'Libros:libros' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}